<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Python Madrid Learn - Apuntes y enlaces de interés compartido por la comunidad del Slack.">
  <title>Python Madrid Learn - Apuntes y Enlaces</title>
  <link rel="shortcut icon" href="http://www.iconj.com/ico/x/c/xcnqbihhpv.ico" type="image/x-icon" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://pingendo.com/assets/bootstrap/bootstrap-4.0.0-alpha.6.css" type="text/css"> </head>

<body>
  <nav class="navbar navbar-expand-md navbar-light" style="background-color: #333;">
    <div class="container">
      <a class="navbar-brand" style="color:#aaa;" href="#"><img src="http://i67.tinypic.com/11tocn6.png">Python Madrid Learn</a> <button class="navbar-toggler navbar-inverse navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav ">
          <li class="nav-item active"> <a class="nav-link" style="color:#aaa;" href="#">Home</a> </li>
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" style="color:#aaa;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Enlaces
        </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" style="color:#333;" href="https://python-madrid.github.io/learn-doc/" target="_blank">Python Madrid Learn Doc</a> <a class="dropdown-item" style="color:#333;" href="https://python-madrid-learn.slack.com" target="_blank">Slack Python Madrid Learn</a>              <a class="dropdown-item" style="color:#333;" href="https://python-madrid-learn.herokuapp.com" target="_blank">Autoinvitación Slack</a> <a class="dropdown-item" style="color:#333;" href="https://python-madrid.es" target="_blank">Python Madrid</a>              </div>
          </li>
          <li class="nav-item dropdown"> <a class="nav-link dropdown-toggle" style="color:#aaa;" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Proyectos
        </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink"> <a class="dropdown-item" style="color:#333;" href="https://github.com/python-madrid/python-madrid-learn-site" target="_blank">Python Madrid Learn Site</a> <a class="dropdown-item" style="color:#333;" href="https://github.com/python-madrid/scraping-python"
                target="_blank">Scraping Python Madrid</a></div>
          </li>
          <li class="nav-item p-0 m-0"> <a class="nav-link" style="color:#aaa;" href="https://github.com/dubirajara/slack-Bot" target="_blank"><i class="fa fa-github fa-fw fa-2x text-white"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="bt-1   p-y-3 section py-5 bg-faded">
    <div class="container m-y-3">
      <div class="row">
        <div class="col-md-12">
          <h3 class="mb-4 text text-uppercase text-center"><img src="https://media.taiga.io/project/a/9/8/2/c4f4daf6aee0f2cb964aba4684ab85f37eec028ffa328afc44081b179e9c/python-madrid-learn-logo-.png.300x300_q85_crop.png"><br>python <b>madrid</b> learn</h3><br>
          <h4 class="mb-4 text-info text-uppercase text-center">Apuntes/Enlaces<b> compartidos</b> por la <b>comunidad</b> desde <a href="https://python-madrid-learn.slack.com" target="_blank"><i class="fa fa-slack text-info" aria-hidden="true"> slack:</i></a></h4><br> <br></div>
      </div>
      <div class="row"> {% for msg in msgs[0:] %}
        <div class="col-md-4" style="word-wrap: break-word;">
          <div class="card my-2">
            <div class="card-block">
              <p class="card-text mt-3">{{ msg.content|linkify|safe }}</p>
              <br><h class="card-subtitle text-info"><i class="fa fa-user" aria-hidden="true"></i><a style="color:#727271;" href="https://python-madrid-learn.slack.com/team/{{ msg.username }}" target="_blank"> {{ msg.username }}</a></h><br>
              <h class="card-text  mt-3"><i class="text-info fa fa-slack" aria-hidden="true"></i><a style="color:#727271;" href="https://python-madrid-learn.slack.com/messages/{{ msg.channel_id }}" target="_blank"><i> {{ msg.channel }}</i></a></h><br><br>
              <h class="card-subtitle text-muted" style="color:#aaa; font-size: 13px;">‏
              <i class="fa fa-clock-o" aria-hidden="true"><i> {{ msg.timestamp }}</i></i></h>
            </div>
          </div>
        </div> {% endfor %} </div>
    </div><b>
  </b></div><b>
  <div class="footer navbar-fixed-bottom bt-1 text-center text-md-left" style="background-color: #333;">
    <div class="container">
      <div class="row mx-auto">
        <div class="col-md-12">
          <p class="text-center m-1" style="color:#aaa; font-size: 14px;"><br>© 2017 Python Madrid Lean</p>
          <p class="text-center lead" style="color: #aaa; font-size: 12px;">Powered with Flask by <a href="https://github.com/dubirajara/slack-Bot" target="_blank" class="text-info"> <i class="fa fa-github"></i> slack-Bot</a></p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>




</b></body>

</html>