{% extends "base.html" %}

{% block title %}Enlaces compartido por Slack - Python Madrid Lean{% endblock %}

{% block content %}


{% if msgs %}
      <div class="row"> {% for msg in msgs %}
        <div class="col-md-4" style="word-wrap: break-word;">
          <div class="card my-2">
            <div class="card-block">
              <p class="card-text mt-3">{{ msg.content|linkify|safe }}</p>
              <br><h class="card-subtitle text-info"><i class="fa fa-user" aria-hidden="true"></i><a style="color:#727271;" href="{{ url_for('user', username=msg.username) }}"> @{{ msg.username }}</a></h><br>
              <h class="card-text  mt-3"><i class="text-info fa fa-slack" aria-hidden="true"></i><a style="color:#727271;" href="{{ url_for('channel', channel=msg.channel) }}"><i> {{ msg.channel }}</i></a></h><br><br>
              <h class="card-subtitle text-muted" style="color:#aaa; font-size: 13px;">‏
              <i class="fa fa-clock-o" aria-hidden="true"><i> {{ msg.timestamp }}</i></i></h>
            </div>
          </div>
        </div> {% endfor %} </div>
     {% else %}
              <h3 style="text-align:center">No hay resultados!</h3>
      {% endif %}

{% endblock content %}
